/* .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	margin: 0;
	width: 480px;
	left: calc(50% - 480px/2);
	top: 180px;
	background-color: #131316;
	max-width: 720px;
	position: fixed;
	z-index: 1;
	box-sizing: border-box;
}

.card__components {
	text-align: center;
	justify-content: space-between;
	align-content: center;
	position: relative;
	min-width: 640px;
	min-height: 304px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	list-style: none;
	overflow-y: auto;
	margin-bottom: 24px;
}

.card__components::-webkit-scrollbar {
	background-color: #2F2F37;
	width: 8px;
}

.card__components:-webkit-scrollbar-thumb {
	background-color: #8585AD;
} */

.card {
  max-width: 640px;
  margin: auto;
  margin-top: 122px;
  z-index: 2;
}

.order_number {
  text-align: center;
}

.order_status {
  color: #00CCCC;
}

.ingredients {
  height: 320px;
  overflow-y: scroll;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #8585AD;
}

.ingredients::-webkit-scrollbar-track {
  border-radius: 0;
  background: #2F2F37;
}

.ingredient {
  display: flex;
  align-items: center;
  max-width: 608px;
}

.image_container {
  width: 64px;
  height: 64px;
  background: linear-gradient(to right,  #801AB2,#4C4CFF);
  border-radius: 100%;
  padding: 2px;
}

.image_container2 {
  background-color: #131316;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover ;
}

.ingredient_title {
  width: 358px;
}

.ingredient_price {
  display: flex;
  width: 150px;
  justify-content: flex-end;
}

.total_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  display: flex;
}