.header {
	width: 100%;
	max-width: 1920px;
	min-height: 88px;
}

.wrapper {
	width: 100%;
	max-width: 1280px;
	min-height: 88px;
	margin: 0 auto;
}

.list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	align-items: center;
}

.link {
	color: #8585AD;
	display: flex;
	text-decoration: none;
	align-items: center;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.feed {
	composes: item;
	margin-right: 112px;
}

.account {
	composes: item;
	margin-left: 290px;
}

.activeLink {
	color: #F2F2F3;
}