.content {
	display: flex;
	width: 100%;
	max-width: 1280px;
	margin: 120px auto;
}
.menu {
display: flex;
flex-direction: column;
width: 320px;
margin-left: 20px;
}
.link {
	text-decoration: none;
	line-height: 64px;
}
.activeLink {
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	margin: 0;
	width: 480px;
	height: 430px;
	background-color: #131316;
	max-width: 720px;
	box-sizing: border-box;
}
.form {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100%;
	flex-direction: column;
	align-items: center;
}
.form__input {
	width: 100%;
	display: flex;
 }
.form__input div{
	width: 100%;
 }
 .form__input svg {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 20px;
	right: 24px;
 }